

<!-- ProviderPage -->
  <div class="ProviderPage">
    <div class="container">
      <h3>Add Scala </h3>
      <hr />
              
      <%= form_for(scala) do |f| %>

        <%= render "/layouts/alerts" %>

        <div class="row">

          <div class="col-sm-6">
            <div class="form-group">
              <label for="">Finca</label>
              <%= f.select :finca_id,Finca.all.collect {|p| [ p.finca, p.id ] }, { include_blank: "Select Finca" }, {:class=>"form-control",:required=>true}  %>
            </div>
          </div>
      
          <div class="col-sm-6">
            <div class="form-group">
              <label for="">Harvested</label><br>
              <%= f.datetime_select :harvested,:class=>"form-control", start_year: Time.now.year %>
            </div>
          </div>
        </div>

        <div class="row">      

          <div class="col-sm-6">
            <div class="form-group">
              <label for="">Quantity</label>

              <%= f.number_field :qqt,:class=>"form-control custom_field",:placeholder=>"Quantity" %>
              <span class="qqt">QQT</span>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group">
              <label for="">Paid</label>
              
              <%= f.text_field :paid,:class=>"form-control custom_q",:placeholder=>"Paid" %>
              <span class="q">Q</span>
            </div>
          </div>
        </div> <!-- row -->

        <p class="mt40 text-center"><%= f.submit "Save",:class=>"btn redbtn"%></p>
      <% end %>

    </div> <!-- container -->
  </div>
<!-- ProviderPage -->
