<!-- ProviderPage -->
<div class="ProviderPage">
  <div class="container">  
    <h3>Scalas</h3>

    <div class="table-responsive border0">
      <table class="table table-striped custab table-hover">
        <thead>
          <tr>
            <th>Finca</th>
            <th>Harvested</th>
            <th>Qqt</th>
            <th>Paid</th>
          </tr>
        </thead>

        <% @scalas.each do |scala| %>
          <tr data-link="<%= finca_path(scala.finca) %>" class="clickable">
            <td><%= scala.finca.finca %></td>
            <td><%= scala.harvested %></td>
            <td><%= scala.qqt %></td>
            <td><%= scala.paid %></td>
          </tr>
        <% end %>
      </table>
    </div>
    <br>
    <%= link_to 'New Scala', new_scala_path %> 
  </div>
</div>
<!-- ProviderPage -->
<script >
  $(document).ready(function(){
    $("tr[data-link]").click(function() {
      window.location = $(this).data("link")
    })
  })
</script>