<p id="notice"><%= notice %></p>

<p>
  <strong>Finca:</strong>
  <%= @scala.finca %>
</p>

<p>
  <strong>Harvested:</strong>
  <%= @scala.harvested %>
</p>

<p>
  <strong>Qqt:</strong>
  <%= @scala.qqt %>
</p>

<p>
  <strong>Paid:</strong>
  <%= @scala.paid %>
</p>

<%= link_to 'Edit', edit_scala_path(@scala) %> |
<%= link_to 'Back', scalas_path %>
